body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #4CAF50; /* Tom de verde */
}

#quiz {
    margin: 20px 0;
}

.option {
    background-color: #4CAF50; /* Tom de verde */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.option:hover {
    background-color: #45a049; /* Tom de verde mais escuro */
}

#next-btn {
    background-color: #2196F3; /* Azul */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Inicialmente escondido */
}

#next-btn:hover {
    background-color: #1976D2; /* Azul mais escuro */
}
